.cobu-main-app-container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
}

.cobu-app-header {
    border: 1px solid $main-color;
    padding: 10px;
    margin-bottom: 15px;
}